.mainContainer {
  margin: 1%;
}
.headerContainer {
  margin: 2%;
}
.statusContainer{
  width: 98%;
  padding:1%;
  background-color: #F5F5F5;
  border:1px solid #D3D3D3;
  border-radius:5px;
}
table{
  width: 100%;
  font-size: 16px;
}
td{
  padding: 7px;
}
select{
  width: 100%;
  margin-top: 5px;
  height:35px;
  border:1px solid #D3D3D3;
  border-radius:5px;
}
.Header{
  font-weight: bold;
}
.Approved{
  background-color: #DEF0D9;
}
.Denied{
  background-color: #F1DEDF;
}
.link{
  color:#2A55FF;
}

@media only screen and (max-width: 748px) {
  table,tbody,tr,td{
    display:block;width:99.9%;
  }
}
